---
---

@import "_variables",
        "_mixins";

html {
    font-size: 69%; /* Usually 62.5 % */
    @include responsive(medium-screens) {
        font-size: 66%;
    }
    @include responsive(small-screens) {
        font-size: 63%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $body-font;
    font-weight: 400;
    color: $black;
    background-image: $background;
    @include retina {
        background-image: $background-2x;
        background-size: 500px 500px;
    }
}


@include selection {
    background-color: $red;
    color: $white;
}

a {
    text-decoration: none;
    color: $red;
}

.hero {
    position: relative;
    height: 560px;
    height: 55vh; // Override for devices that support it.
    min-height: 30em;
    width: 100%;
    margin: 0;
    padding-bottom: 4em;
    
    background-position: 0 50%;
    background-size: cover;
    
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0, 0.8);
    color: $white;
    
    p {
        margin: 0;
        font-size: $xx-large;
        @include responsive(small-screens) {
            font-size: $x-large;
        }
    }
    
    h1 {
        margin: 0;
        font-size: $huge;
    }
    
    .title {
        position: relative;
        top: 50%;
        margin: 0;
        font-family: $title-font;
        @include translateY(-50%);
    }
}


.top-right {
    position: absolute;
    top: 30px;
    right: 10px;
    font-weight: 300;
    font-family: $title-font;
    
    a {
        position: relative;
        padding: 0.5em 1em;
        margin: 1em;

        @include opacity(1);
        color: $white;
        border: 1px solid $white;

        text-decoration: none;
        font-size: $large;

        @include transition(opacity, $transition-time);
    }
    
    a:hover {
        @include opacity(0.7);
        @include transition(opacity, $transition-time);
    }
}
.content {
    padding-top: 0;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    
    &:after {
        z-index: -1;
        content: '';
        background-image: $background;
        @include retina {
             background-image: $background-2x;   
        }
        display: block;
        width: 100%;
        position: absolute;
        top: -4em;
        left: 0;
        height: 15em;
        
        @include skewY(-2deg);
        @include transform-origin(bottom left);
        
    }
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 750px;
    display: block;
}

article {
    padding-bottom: 34px;
    font-size: $medium; /* Used to be 1.6. With 1.8, the titles need to be bigger */
    
    &:not(:last-child) {
        border-bottom: 1px solid $light-grey;
    }
    
    p, li, dl {
        line-height: $line-height;
        
        @include responsive(medium-screens) {
            line-height: $medium-line-height;
        }
        
        @include responsive(small-screens) {
            line-height: $small-line-height;
        }
    }
    
    header .date {
        font-size: $medium;
        font-weight: 500;
        text-transform: uppercase;
        -webkit-margin-before: 0;
        margin-top: 0;
    }
    
    hr {
        border-top: 0;
        border-bottom: 1px solid $light-grey;
        width: 15%;
    }
    
    img {
        margin: 1em auto;
        display: block;
        max-width: 100%;
    }
    
    blockquote {
        color: $dark-grey;
        border-left: 3px solid $light-grey;
        margin: 20px 0px;
        padding: 0 15px;
        font-style: italic;
    }
    
    p, li, h1, h2, h3, h4, h5, h6 {
        code {
            padding: 1px 2px;
            border-radius: 4px;
            color: darken($dark-grey, 20%);
            border: 1px solid $light-grey;
        }
    }
    
    sup {
        font-size: $small;
    }
    
    table {
        border-collapse: collapse;
    }
    
    table, td, th {
        border: 1px solid $black;
    }
    
    td, th {
        padding: 0.5em;
    }
    
    tr:hover {
        background-color: $light-grey;
    }
}

h1, h2, h3, h4, article header {
    -webkit-margin-after: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-family: $title-font;   
}

h1 {
    font-size: $xx-large;
}

h2 {
    font-size: $x-large;
}

h3 {
    font-size: $large;
}

h4 {
    font-size: $medium;
}

article a:hover, footer nav a:hover {
    border-bottom: 1px solid;
}

article header a:hover {
    // This fixes a weird IE bug that added like 50px because 1 px border-bottom was added.
    border-bottom: 0;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
    border-bottom: 3px solid;
}


footer {
    margin: 5em auto 0 auto;
    text-align: center;
    max-width: 750px;
    color: $dark-grey;
    font-size: $medium;
    
    nav {
        margin: 1em 0;
    }
    ul {
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
        margin: 0 1em;
        
    }
}

@import "_syntax";