/* -------------------------------- 

Primary style

-------------------------------- */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@-webkit-keyframes pulsate {
    0% {opacity: 1.0;}
    50% {opacity: 0.8;}
    100% {opacity: 1.0;}
}

body {
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    /*color: #030d18;*/
    background-color: #f0eee1;
    color: #494c57;
    /*background-color: #f0f1e7;*/
}

a {
    color: #f5484a;
    text-decoration: none;
}

hr {
    height: 0;
    margin-top: 60px;
    border-top: 1px solid #dedccc;
    border-bottom: 1px solid #fffdee;
    border-right: 0;
    border-left: 0;
}

table, tr, td {
    border: 1px solid black;
    text-align: center;
}
td {
    padding: 5px;   
}
article {
    margin-bottom: 2.5em;   
}

article:last-of-type {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}



/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}

.has-top-margin {
  /* this class is given - using jQuery - to the .cd-main-content following the .cd-secondary-nav when it becomes fixed */
}
@media only screen and (min-width: 1170px) {
  .has-top-margin {
    -webkit-animation: animate-margin-top 0.3s;
    -moz-animation: animate-margin-top 0.3s;
    animation: animate-margin-top 0.3s;
    margin-top: 70px;
  }
}

@-webkit-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@-moz-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}

/* -------------------------------- 

Placeholder Sections

-------------------------------- */
.cd-section {
  margin: 0 auto;
  padding: 2em 0 0.5em 0;
}
.cd-section h1 { /* Post Titles */
    font-size: 2em;
}

.cd-section h2 {
    font-size: 1.875em;
}
.cd-section h3 {
    font-size: 1.5em;
}
.cd-section h4 {
    font-size: 1.375em;   
}
.cd-section h5 {
    font-size: 1em;  
}
.cd-section h6 {
    font-size: 1em;
    color: #656565;
}

.cd-section p, .cd-section ul {
    line-height: 1.6;
    margin-bottom: 1em;
}

.cd-section li {
    line-height: 1.6;
}

@media only screen and (min-width: 1170px) {
  .cd-section {
    margin: 0 auto;
    padding: 4em 0 1em 0;
  }
}

.date {
    font-size: 20px;
    color: #030d18;
}

.cd-section #entry {
    font-size: 18px;
}

.cd-btn {
  display: inline-block;
  padding: 1em 1.8em;
  /*background-color: rgba(245, 72, 74, 0.9);*/
    background-image: linear-gradient(80deg, rgba(245, 72, 105, 0.9) 0%, rgba(255, 120, 35, 0.9) 115%);
    z-index: 10000;
  margin-top: 1em;
  border-radius: 20em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  -webkit-transition: 0.3s, opacity 0.3s;
  -moz-transition: 0.3s, opacity 0.3s;
  transition: 0.3s, opacity 0.3s;
}

.no-touch .cd-btn:hover {
  background-color: #f5484a;
    /*
  -webkit-transition: 0.3s, opacity 0.3s;
  -moz-transition: 0.3s, opacity 0.3s;
  transition: 0.3s, opacity 0.3s;
    */
    -webkit-animation: pulsate 2s ease-in;
    -webkit-animation-iteration-count: infinite; 

}
@media only screen and (min-width: 1170px) {
  .cd-btn.is-hidden {
    /* assign a position fixed and move outside the viewport (on the right) */
    opacity: 0;
    position: fixed;
    right: -20%;
    top: 0;
    padding: .8em 1.2em;
    margin: 14px 0 0;
    -webkit-transition: right 0.3s, opacity 0.3s;
    -moz-transition: right 0.3s, opacity 0.3s;
    transition: right 0.3s, opacity 0.3s;
  }
  .cd-btn.is-hidden.slide-in {
    /* slide in when the secondary nav gets fixed */
    right: 5%;
    opacity: 1;
  }
}


/* ------------------------------

My additions

------------------------------- */

/* Special formatting for the blog posts */

.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {
    width: 100%;
    font-weight: bold;
    padding-top: 0.5em;
    margin-bottom: 1em;
    line-height: 1.75em;
}

.entry h1, .entry h2 {
    border-bottom: 2px solid rgba(0, 39, 59, 0.0784314);
}

.entry h1 { /* Post Titles */
    font-size: 2em;
}
.entry h2 {
    font-size: 1.5em;
}
.entry h3 {
    font-size: 1.3em;
}
.entry h4 {
    font-size: 1.15em;   
}
.entry h5 {
    font-size: 1em;   
}
.entry h6 {
    font-size: 1em;
    color: #656565;
}

/* undoing the reset */
.entry ul {
    list-style: circle;
    margin: initial;
    padding: 0 1em 0 2em;
    margin-bottom: 1em;
}

.entry ol {
    list-style: decimal;
    margin: initial;
    padding: 0 1em 0 2em;
    margin-bottom: 1em;   
}

.entry li {
    display: list-item;
}

.entry img {
    margin: 18px 0 18px 0;   
}

.entry p, .entry hr {
    margin: 1em 0 1em 0;
}

/* Comment out before pushing? */

code {
    background: rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    padding: 2px 4px 2px 4px;
    font-size: inherit;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

pre, blockquote {
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 16px;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;

}

pre>code, blockquote>p {
  padding: 0;
  margin: 0 !important;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}


.author {
    display: inline-block;
}

.author img {
    width: 68px;
    height: 68px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.section-image {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 0 -34px -45px;
    background-image: url(../images/cd-nav-icons.svg);
}
#cd-placeholder-1 .section-image {
    background-position: 0 0;
}
#cd-placeholder-2 .section-image {
    background-position: -40px 0;
    margin: 0 0 -33px -45px; /* pixel perfection */
}
#cd-placeholder-3 .section-image {
    background-position: -80px 0;
    /* This position is actually better for this icon */
    margin: 0 0 -40px -45px;

}
#cd-placeholder-4 .section-image {
    background-position: -120px 0;
}
#cd-placeholder-5 .section-image {
    background-position: -160px 0;
}
.bubble {
    position: relative;
    margin: 0 0 -72px -85px;
    width: 70px;
    height: 70px;
    padding: 0px;
    background: #c9c9c9;
    border: 1px solid rgba(3, 13, 24, 0.96);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.bubble:after {
    content: "";
    position: absolute;
    top: 4px;
    right: -12px;
    border-style: solid;
    border-width: 10px 0 10px 12px;
    border-color: transparent rgba(3, 13, 24, 0.96);
    display: block;
    width: 0;
    z-index: -1;
}

footer {
    line-height: 1.5em;
    padding-bottom: 1em;
    text-align: center;
}

@media only screen and (max-width: 1170px) {
    .section-image {
        visibility: hidden;
    }
    .bubble {
        visibility: hidden;
    }
}

@media only screen and (min-width: 1170px) {
    .section-image {
        visibility: visible;
    }
    .bubble {
        visibility: visible;
    }
}

/* Everything below is for the projects -- should go over to another file */

.project {
    min-height: 300px;
    min-width: 368px;
    width: auto;
    max-width: 500px;
    position: relative;
    background-size: cover;
    background-position: center top;
    border: 1px solid #DDD;
    border-radius: 3px;
    margin: 10px 5px 10px 5px;
    display: inline-block;
        -webkit-transition: 0.3s, opacity 0.3s;
        -moz-transition: 0.3s, opacity 0.3s;
        transition: 0.3s, opacity 0.3s;
}

.p_overlay {
    background-color:rgba(50,50,50,0);
    width: 100%;
    height: 100%;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition:  0.2s ease-in;
    color: #FFFFFF;
    cursor: pointer;
    position: absolute;
}

.p_overlay:hover {
    background-color:rgba(50,50,50,0.8);;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition:  0.2s ease-in;
}

.p_overlay:hover > .p_title > .title {
    color: rgba(255, 255, 255, 1);
    -webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition:  0.2s ease-in;
}
.p_overlay:hover > .p_title > .tags  {
    color: rgba(255, 255, 255, 1);
    border-top: 1px solid #c70606;
	-webkit-transition: 0.45s ease-in;
	-moz-transition: 0.45s ease-in;
	-o-transition: 0.45s ease-in;
	transition:  0.45s ease-in;
}

.p_title {
    text-align:center;
    position: relative;
    text-align:center;
    top: 50%;
    margin-top: -33px; /* carefully calculated */
    font-size: 24px;
    padding-bottom: 10px;
    border: none;
}

.p_title span {
    width: auto;
    display: inline-block;
}

.title {
    color: rgba(255, 255, 255, 0);
}

.tags {
    margin-top: 10px;
    padding-top: 10px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0);
}


@media only screen and (max-width: 880px) {
    .picture-container {
        text-align: center;
    }
    .project {
        min-width: 600px;
        min-height: 200px;
        -webkit-transition: 0.3s, opacity 0.3s;
        -moz-transition: 0.3s, opacity 0.3s;
        transition: 0.3s, opacity 0.3s;
    }
}

@media only screen and (max-width: 700px) {
    .project {
        min-width: 400px;
        min-height: 200px;
        -webkit-transition: 0.3s, opacity 0.3s;
        -moz-transition: 0.3s, opacity 0.3s;
        transition: 0.3s, opacity 0.3s;
    }
}