<p>Hello! My name is {{ site.name }}, and I'm an 18-year-old Computer Science student. Originally from Copenhagen, Denmark, I'm now living in Switzerland and studying at the EPFL, the Swiss Federal Institute of Technology in Lausanne.</p>

<p>When I'm not studying or programming, I like running, reading, skiing, Skyping with my family back at home and listening to music.</p>

<p>Introductions aside, the goal of this site is to be an outlet for my thoughts, ideas and work, should anyone want to read into that.</p>