<p>Hello! My name is {{ site.name }}, and I'm an 18-year-old Computer Science student. Originally from Copenhagen, Denmark, I'm now living and studying at the EPFL, the Swiss Federal Institute of Technology in Lausanne.</p>

<p>When I'm not studying or programming, I like running, wasting my time on Netflix or talking to my friends.</p>

<p>Introductions aside, this site won't be a shrine of self-celebration. No, I'll mainly use it as an outlet for my thoughts, ideas and work, should anyone want to read into that.</p>