<footer class="cd-container">
    <p>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br/>
    
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">License</a>
    &nbsp; &middot;  &nbsp;<a href="{{ site.baseurl }}/feed.xml">RSS</a>
    &nbsp; &middot;  &nbsp;<a href="{{ site.baseurl }}/sitemap.xml">Sitemap</a>
    </p>
    <img src="{{ site.baseurl }}/images/smiley.gif" alt=":)" />
</footer>