<footer class="cd-container">
    <p>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="/images/license.png" /></a><br/>
    
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">License</a>
    &nbsp; &middot;  &nbsp;<a href="https://github.com/MaximeKjaer/MaximeKjaer.github.io">Source</a>
    &nbsp; &middot;  &nbsp;<a href="{{ site.baseurl }}/feed.xml">RSS</a>
    </p>
    <img src="{{ site.baseurl }}/images/smiley.gif" alt=":)" />
</footer>