<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }} – {{ site.description }}{% endif %}</title>

<!-- Meta tags -->
<meta charset="utf-8">
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
<meta name="author" content="{{ site.name }}" href="humans.txt">
<meta name="description" content="{{ site.description }}">

<!-- OpenGraph meta tags -->
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:description" content="{{ site.description }}">

{% if page.title %}
<meta property="og:title" content="{{ page.title }}">
{% else %}
<meta property="og:title" content="{{ site.name }} - {{ site.description }}">
{% endif %}

{% if page.title %}
<meta property="og:type" content="article">
{% else %}
<meta property="og:type" content="website">
{% endif %}

{% if page.url %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
{% endif %}

{% if page.date %}
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
<meta property="article:author" content="{{ site.url }}/about/">
{% endif %}

{% if page.image %}
<meta property="og:image" content="{{ site.url }}/images/{{ page.image }}">
{% else %}
<meta property="og:image" content="{{ site.url }}/images/winter-background.jpg">
{% endif %}

{% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta property="article:section" content="{{ category }}">
  {% endfor %}
{% endif %}
{% if page.tags %}
  {% for tag in page.tags %}
  <meta property="article:tag" content="{{ tag }}">
  {% endfor %}
{% endif %}

<!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/reset.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.min.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.min.css">

<!-- RSS -->
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml">

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59915030-1', 'auto');
  ga('send', 'pageview');

</script>
