<a href="https://github.com/MaximeKjaer/TwitpicBackup">
    <div id="p1" class="project" style="background-image:url({{ site.url }}/images/twitpic2.png); background-position: center;">
        <div class="p_overlay">
            <div class="p_title">
                <span class="title">Twitpic Backup</span>
                <br/>
                <span class="tags">PYTHON, WEB</span>
            </div>
        </div>
    </div>
</a>

<a href="https://github.com/MaximeKjaer/dailyprogrammer-challenges">
    <div id="p1" class="project" style="background-image:url({{ site.url }}/images/dailyprogrammer2.jpg); background-position: left top;">
        <div class="p_overlay">
            <div class="p_title">
                <span class="title">/r/dailyprogrammer Challenges</span>
                <br/>
                <span class="tags">PYTHON, PROGRAMMING CHALLENGES</span>
            </div>
        </div>
    </div>
</a>

<a href="http://piratebox.cc/">
    <div id="p1" class="project" style="background-image:url({{ site.url }}/images/pbox_build.JPG);">
        <div class="p_overlay">
            <div class="p_title">
                <span class="title">Built a PirateBox</span>
                <br/>
                <span class="tags">LINUX, WI-FI, HACKS</span>
            </div>
        </div>
    </div>
</a>


<a href="https://chrome.google.com/webstore/detail/library-manager/cjkgbbikkgioafiagcjmagjlnonpfpcb">
    <div id="p1" class="project" style="background-image:url({{ site.url }}/images/libman.png); background-position: left top;">
        <div class="p_overlay">
            <div class="p_title">
                <span class="title">Library Manager</span>
                <br/>
                <span class="tags">CHROME, WEB, DESIGN</span>
            </div>
        </div>
    </div>
</a>

<a href="https://github.com/MaximeKjaer/PboxDesign3.0">
    <div id="p1" class="project" style="background-image:url({{ site.url }}/images/pbox_design.png);">
        <div class="p_overlay">
            <div class="p_title">
                <span class="title">PirateBox Design 3.0</span>
                <br/>
                <span class="tags">WEB, DESIGN</span>
            </div>
        </div>
    </div>
</a>
