<h3>Education</h3>
<br/>
<h4>EPFL, Swiss Federal Institute of Technology in Lausanne</h4>
    <i>Lausanne, Switzerland. 2014-present</i>
    <br/><br/>
    <ul>
        <li>Studying for a Bachelor in Computer Science</li>
        <li>Currently in my 2<sup>nd</sup> semester</li>
    </ul>
<br/>
<h4>LFPH, Prince Henri's French School</h4>
    <i>Copenhagen, Denmark. 2000-2014</i>
    <br/><br/>
    <ul>
        <li>Scientific Baccalauréat with 17.47 / 20</li>
        <li>Danish-French Baccalauréat with 11.9 / 12</li>
        <li>Cambrige English: Advanced with A</li>
        <li>TOEFL with 117 / 120</li>
    </ul>
<h4>Other </h4>
