@mixin block($block-color) {
	--block-bg-color: #{$block-color};
	--block-border-color: #{darken($block-color, 50%)};
}


.block {
	@include block(#eee);
	padding: 0.3em 2em;
	margin: 1em 0;
	background-color: var(--block-bg-color);
	border-bottom: 1px solid var(--block-border-color);
	border-top: 1px solid var(--block-border-color);

	.header {
		font-family: $title-font;
		font-size: $title-weight-light;
		color: var(--block-border-color);
		font-variant: small-caps;
	}

	p {
		margin-top: 0.5em;
	}

	&.definition {
		@include block(hsl(195, 36, 91));
	}

	&.theorem {
		@include block(hsl(100, 36, 91));
	}

	&.note {
		@include block(hsl(195, 36, 91));
	}
}
