//---------------------------
//
// ## Footnotes
//
//---------------------------

.footnotes {
	margin: 3em 0;

	&::before {
		content: 'Footnotes';
		font-weight: bold;
	}
}


@media print {
	.reversefootnote {
		display: none;
	}
}