@mixin skewY($angle) {
	-webkit-transform: skewY($angle);
		-ms-transform: skewY($angle);
			transform: skewY($angle);
}

@mixin translateY($amount) {
		-webkit-transform: translateY($amount);
			-ms-transform: translateY($amount);
				transform: translateY($amount);
}

@mixin transform-origin($origin) {
	-webkit-transform-origin: $origin;
		-ms-transform-origin: $origin;
			transform-origin: $origin;
}

@mixin opacity($amount) {
	opacity: $amount;
	filter: alpha(opacity=$amount*100);
}

@mixin transition($properties, $time) {
	-webkit-transition: $properties $time;
			transition: $properties $time;
}

@mixin user-select($property) {
	-webkit-touch-callout: $property;
	  -webkit-user-select: $property;
	   -khtml-user-select: $property;
		 -moz-user-select: $property;
		  -ms-user-select: $property;
			  user-select: $property;
}

@mixin selection {
	::-moz-selection { @content; }
	::selection { @content; }
}

@mixin responsive($width) {
	@if $width == wide-screens {
		@media only screen and (max-width: $width-large) {
			@content;
		}
	}
	@else if $width == medium-screens {
		@media only screen and (max-width: $width-medium) {
			@content;
		}
	}
	@else if $width == small-screens {
		@media only screen and (max-width: $width-small) {
			@content;
		}
	}
}

@mixin retina { //from http://stackoverflow.com/a/16154726
	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (min--moz-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi),
		only screen and (min-resolution: 2dppx) {
			@content;
	}
}

@mixin flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin justify-content($position) {
	-webkit-justify-content: $position;
	-ms-flex-pack: $position;
	justify-content: $position;
}

@mixin align-items($position) {
	-webkit-align-items: $position;
	-webkit-box-align: $position;
	-ms-flex-align: $position;
	align-items: $position;
}

@mixin flex-direction($direction) {
	@if $direction == column or $direction == column-reverse {
		-webkit-box-orient: vertical;
	}
	@else {
		-webkit-box-orient: horizontal;
	}
	@if $direction == row-reverse or $direction == column-reverse {
		-webkit-box-direction: reverse;
	}
	@else {
		-webkit-box-direction: normal;
	}
	-webkit-flex-direction: $direction;
		-ms-flex-direction: $direction;
			flex-direction: $direction;
}

@mixin flex-grow($number) {
	-ms-flex-positive: $number;
	-webkit-flex-grow: $number;
	 -webkit-box-flex: $number;
			flex-grow: $number;
}
