// Typography stack
$title-font: 'Oswald', sans-serif;
$body-font: 'Lora', serif;
$line-height: 1.6;
$medium-line-height: 1.4;
$small-line-height: 1.3;
// Font sizes, based on http://www.modularscale.com/?1&em&1.333&web&text
$x-small: 0.9rem;
$small: 1.2rem;
$medium: 1.6rem;
$large: 2.132rem;
$x-large: 2.842rem;
$xx-large: 3.788rem;
$huge: 8.972rem;

// Media query screen sizes
$width-small: 500px;
$width-medium: 800px;
$width-large: 1200px;

// Colors
$black: #0f0f0f; // A very dark grey
$white: #fff; // for now, white will be plain white.
$red: #db3a3a; // Alternatively, use #ea4b4b
$dark-grey: #919191;
$light-grey: #d4d4d4;

// Background
$background: url('/images/white_wall_hash.png');
$background-2x: url('/images/white_wall_hash_@2X.png');

// Standard transition time
$transition-time: 0.2s;