<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <div class="hero" style="background-image: url('{% if page.image %}/images/{{ page.image }}{% else %}{{ site.hero_image }}{% endif %}');">
        

        <nav class="top-right">
            <a href="/about">ABOUT</a>
        </nav>

         
        <div class="title">
            <a href="{{ site.baseurl }}/">
                <h1>OUTPUT</h1>
                <p>{{ site.subtitle }}</p>
            </a>
        </div>
    </div>
    <div class="content">
       <div class="container">
           
           {{ content | markdownify }}
        
        </div>
    </div>
    {% include footer.html %}
</body>
</html>